<!-- We are not putting any visible content in this file for this page. The content will be filled from each of the components below. However, the app.component.css file has some styling to help structure the overall layout. Notice we give style properties to <main> and <section> and only width to the <app-sweet> and <app-savory> components. The rest is handled within each of those components' scopes. -->

<div id="toggle">
    <!-- This is where the user toggles between compact and regular modes -->
    <div class="pseudobutton">COMPACT</div>
    <div class="pseudobutton">REGULAR</div>
</div>

<app-header></app-header>
<main>
    <app-aside></app-aside>
    <section>
        <!-- Notice here that the boolean 'compact' is passed to these components -->
        <app-sweet></app-sweet>
        <app-savory></app-savory> 
    </section>
</main>
