<aside>
    
    <div class="side-box">
        <div class="info-block">
            <h5>About Us</h5>
            <p>Betty Lou Smith's legendary Southern fare has been a favorite of locals and travellers alike for decades. Located in a quiet community in north Florida, Betty Lou's Bakery & Cafe serves up the very best of sweet and savory treats. As Betty used to say, "Y'all stop by now, you hear?"</p>
        </div>
    </div>

    <img id="shop" src="../assets/images/shop.jpg" />

    <div class="side-box">
        <div class="info-block">
            <h5>Location</h5>
            <p>
                384 E. Rosebud Drive<br />
                Penney Farms, FL 32079
            </p>
        </div>
        <div class="info-block">
            <h5>Contact Info</h5>
            <p>
                (904) 555-1843<br />
                info@bettylous.net
            </p>
        </div>
        <div class="info-block">
            <h5>Hours</h5>
            <p>
                7AM-3PM Sun<br />
                7AM-9PM Mon-Sat
            </p>
        </div>
    </div>
    
</aside>
