aside {
    display: flex;
    flex-direction: column;
    background: url('/assets/images/pink-grid.jpg');
    background-size: 200px;
    background-repeat: repeat-y;
    width: 160px;
    height: 100%;
    padding: 30px 20px;
}

#shop {
    width: 99%;
    margin: 0px 0px 25px;
}

.info-block {
    color: #222;
    font-size: 0.8rem;
    margin: 15px 0px;
}

.side-box {
    width: 95%;
    background-color: rgb(255, 255, 255, 0.6);
    border: none;
    padding: 10px 10px 10px 20px;
    margin: 0px 0px 25px -20px;
}