<section>
    <h2>Sweet Treats</h2>

    <!-- REGULAR - wrap in <ng-container> and use structural directive *ngIf -->
        <!-- Iterate through array of Food objects using structural directive *ngFor -->
        <div class="food-item">
            <img src="../assets/images/cinnamon-rolls.jpg" />
            <h4>Cinnamon Rolls</h4>
            <p class="prices">$1.99 each / $20 per dozen</p>
        </div>


    <!-- COMPACT - wrap in <ng-container> and use structural directive *ngIf -->
        <!-- Iterate through array of Food objects using structural directive *ngFor -->
        <div class="food-item limited">
            <img class="thumbnail" src="../assets/images/cinnamon-rolls.jpg" />
            <h5>Cinnamon Rolls</h5>
            <p class="prices">$1.99 each</p>
            <p class="prices">$20 per dozen</p>
        </div>
    
</section>
