header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( #ee627a, #e97c8e); /* subtle */
    width: 100vw;
    height: 100px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: white;
}

h3 {
    color: white;
}