aside {
    display: flex;
    flex-direction: column;
    background: url('/assets/images/pink-grid.jpg');
    background-size: 200px;
    background-repeat: repeat-y;
    width: 160px;
    height: 100%;
    padding: 30px 20px;
}