aside {
    display: flex;
    flex-direction: column;
    background: url('/assets/images/pink-grid.jpg');
    background-size: 240px;
    background-repeat: repeat-y;
    width: 200px;
    height: calc(100vh - 140px);
    padding: 30px 20px;
}