<section>
    <h2>Savory Snacks</h2>

        <!-- REGULAR - wrap in <ng-container> and use structural directive *ngIf -->
            <!-- Iterate through array of Food objects using structural directive *ngFor -->
            <div class="food-item">
                <img src="../assets/images/stuffed-squash.jpg" />
                <h4>Stuffed Squash</h4>
                <p class="prices">$3.99 per serving</p>
            </div>

    
        <!-- COMPACT - wrap in <ng-container> and use structural directive *ngIf -->
            <!-- Iterate through array of Food objects using structural directive *ngFor -->
            <div class="food-item limited">
                <img class="thumbnail" src="../assets/images/stuffed-squash.jpg" />
                <h5>Stuffed Squash</h5>
                <p class="prices">$3.99 per serving</p>
            </div>

</section>
