<section>
    <h2>Savory Snacks</h2>

        <!-- REGULAR - use structural directive *ngIf -->
        <ng-container *ngIf="!compact">
            <!-- Iterate through array of Food objects using structural directive *ngFor -->
            <div class="food-item" *ngFor="let savory of allSavories">
                <img src={{savory.imgURL}} />
                <h4>{{savory.name}}</h4>
                <p class="prices">${{savory.priceEach}} per serving</p>
            </div>
        </ng-container>
    
        <!-- COMPACT - use structural directive *ngIf -->
        <ng-container *ngIf="compact">
            <!-- Iterate through array of Food objects using structural directive *ngFor -->
            <div class="food-item limited" *ngFor="let savory of allSavories">
                <img class="thumbnail" src={{savory.imgURL}} />
                <h5>{{savory.name}}</h5>
                <p class="prices">${{savory.priceEach}} per serving</p>
            </div>
        </ng-container>

</section>
